/* Reset code */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    /* border: 0;   */
    font-size: 100%;
    /* font: inherit;   */
    vertical-align: baseline;
    box-sizing: border-box;
}

/* set up styling */
html {
    font-size: 62.5%;
}

* {
    /* border: 1px solid white; */
    /* border: 1px solid grey; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Header styling */

header {
    background: #ACDAE8;
    padding: 2%;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4.8rem;
    color: #C63995;
}

nav {
    display: flex;
    list-style: none;
    width: 40%;

}

.navLinks {
    width: 25%;
    text-align: center;
    background: white;
    border: 1px solid #C63995;
    padding: 2% 0;
    font-size: 1.6rem;
}

.navLinks:hover {
    background: #C63995;
    color: white;
}

/* Main section styling */
#main {
    padding: 2% 1%;
}

/* About section styling */

#aboutSection {
    display: flex;
}

#profilePhoto {
    width: 50%;
    height: auto;
}

#aboutDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5% 5%;
    font-size: 1.6rem;
}

#aboutDetails p {
    margin-top: 2%;
}

h2 {
    font-size: 3rem;
}

/* button styling */
button {
    background-color: #C63995;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 10px 0;
    border-radius: 8px;
    width: 150px;
    border: 1px solid #C63995;
}

button:hover {
    background-color: white;
    border: 1px solid #C63995;
    color: #C63995;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Project Section */

#projectsSection {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 0;
    justify-content: space-around;
}

.project {
    width: 350px;
    height: 350px;
    margin-top: 2%;
    padding: 2%;

}

.project h4 {
    text-align: center;
    font-size: 1.7rem;
}

.projectPic {

    width: 100%;
    height: 40vmin;
    object-fit: cover;
    border: 1px solid black;
}

/* footer styling */

footer {
    background: #ACDAE8;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h3 {
    font-size: 2rem;
}

/* Media queries */

/* Tablet media query */
@media(max-width:800px) {
    nav {
        width: 50%;
    }

    #aboutSection {
        flex-direction: column;
        align-items: center;
    }

    #aboutSection div {
        width: 90%;
    }
}

/* Mobile media query */
@media(max-width:500px) {
    nav {
        width: 90%;
    }

    .projectPic {
        height: 62vmin;
    }
}